# Do not track any files in the data directory
data/**

# Allow the gitkeep just so the folder gets uploaded
!data/.gitkeep

# Ignore all log files by extension
*.log

# Allow the feature files to be uploaded as they are very small
!data/best_accuracy_features_selection.csv
!data/best_f1_features_selection.csv
!data/thesis_wavenumbers.csv